#interactor {
    margin: 0 1em;
}

.hint {
    display: inline-block;
    background: #131415;
    border: 2px solid #ffffff;
    border-radius: 10px;
    padding: 0.2em 0.5em 0.2em 0.5em;
    margin: 0.6em 0.4em 0.6em 0.4em;
    min-width: 3em;
}

.hint:hover {
    cursor: pointer;
    background: #454545;
}

.hint-selected {
    background: #535bf2;
    color: white;
}

.hint-selected:hover {
    background: #535bf2;
    color: white;
}

#hint-box {
    margin-top: 1em;
    min-height: 5.5rem;
}

#hint-info {
    min-height: 1.5rem;
}

#hint-info > span {
    font-weight: bold;
}

#hint-info > span > span {
    margin: 0 1em 0 0;
    font-weight: normal;
}

#prompt {
    font-size: 2rem;
    min-height: 48px;
    margin: 0.3em auto 0.6em auto; 
    background: #484848;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;;
    padding: 0.2em 0.5em 0.2em 0.5em;
    border-radius: 10px;
    min-width: 30%;
    width: 400px;
    max-width: 80%;
}

.prompt-item {
    border-radius: 5px;
    padding: 0 0.1em;
    margin: 0.1em;
}

.prompt-item.noun {

}

.prompt-item.na-adjective {
    color: #F4C95D;
}
.prompt-item.i-adjective {
    color: #F4C95D;
}

.prompt-item.verb {
    color: #F03A47;
}

.prompt-item.particle {
    color: #3BB273;
}

.prompt-item.grammar {
    color:#2991E6;
}

.prompt-item.adverb {
    color: #77CBB9;
}

#generate-box {
    display: flex;
    justify-content: center;
    margin: 0 0 1em 0;
}

.flex-spacer {
    flex-basis: 0;
    flex-grow: 0.4;
}

#generator {
   
}

#counter {
    font-size: 2em;
    font-weight: bold;
}

#counter-correct {
    color: #3BB273;
}

#counter-wrong {
    color: #F03A47;
}


#input-box {
    margin: 0 0 1em 0;
}

#input-box form {
    display: flex;
    justify-content: center;
}

#input-box form textarea{
    height: 2rem;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
    overflow: hidden;
    resize: none;
}

#answer-status-box {
    min-height: 3rem;
}

.answer-status {
    padding: 0.2em 0.5em 0.2em 0.5em;
    border-radius: 10px;
    display: inline-block;
    margin: 0 0 0.8em 0;
    font-size: 1.5rem;
    cursor: pointer;
}

.correct {
    background: #3BB273;
}

.wrong {
    background: #F03A47;;
}

.invisible {
    opacity: 0;
}

footer {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer span {
    margin: 0 0.5em;
}

footer svg {
    color: #ffffff;
    width: 2em;
    margin-right: 1em;
    
}

