#interactor {
    margin: 0 1em;
}

#counter {
    font-size: 2em;
    font-weight: bold;
    margin-top: 1em;
}

#counter-correct {
    color: #519B63;
}

#counter-wrong {
    color: red;
}



.hint {
    display: inline-block;
    background: #131415;
    border: 2px solid #ffffff;
    border-radius: 10px;
    padding: 0.2em 0.5em 0.2em 0.5em;
    margin: 0.6em 0.4em 0.6em 0.4em;
    min-width: 3em;
}

.hint:hover {
    cursor: pointer;
    background: #454545;
}

.hint-selected {
    background: blue;
    color: white;
}

.hint-selected:hover {
    background: blue;
    color: white;
}

#hint-box {
    margin-top: 1em;
    min-height: 5.5rem;
}

#hint-info {
    min-height: 1.5rem;
}

#hint-info > span {
    font-weight: bold;
}

#hint-info > span > span {
    margin: 0 1em 0 0;
    font-weight: normal;
}

#prompt {
    font-size: 2rem;
    min-height: 48px;
    margin: 0.3em 0 0.6em 0; 
    background: #484848;
    display: inline-block;
    padding: 0.2em 0.5em 0.2em 0.5em;
    border-radius: 10px;
    min-width: 30%;
}

#generator {
    margin: 0 0 1em 0;
}

#input-box {
    margin: 0 0 1em 0;
}

#input-box form textarea{
    font-size: 1.5rem;
    text-align: center;
    overflow: hidden;
    resize: none;
}

#answer-status-box {
    height: 3rem;
}

.answer-status {
    padding: 0.2em 0.5em 0.2em 0.5em;
    border-radius: 10px;
    display: inline-block;
    height: 2rem;
    line-height: 2rem;
    margin: 0 0 0.8em 0;
    font-size: 1.5rem;
    cursor: pointer;
}

.correct {
    background: #519B63;
}

.wrong {
    background: red;
}

footer {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer span {
    margin: 0 0.5em;
}

footer svg {
    color: #ffffff;
    width: 2em;
    margin-right: 1em;
    
}

