.option-input {
    display: none;
}


.option-input:checked + .option-label {
    background: blue;
}

.option-label {
    text-align: center;
    position: relative;
    display: inline-block;
    padding: 0.2em 0.5em 0.2em 0.5em;
    min-width: 3em;
    background: #131415;
    border-radius: 10px;
}

#options-box {
    display: inline-block;
}

.option-label:hover {
    cursor: pointer;
    background: #454545;
}

.option-group {
    display: flex;
    text-align: left;
    margin: 0.5em 0.2em 0.5em 0.2em;
}

.option-group-label {
    min-width: 7rem;
}

.option-group-items {
    display: flex;
    flex-wrap: wrap;
    gap: 0.4em 0.4em;
}